<h2 class="app-title">Météo</h2>
<div class="content">
	<div class="row-meteo">Ligne 1</div>
	<div class="row-meteo">Ligne 2</div>
	<div class="row-meteo">Ligne 3</div>
	<div class="row-meteo">Ligne 4</div>
	<div class="row-meteo">Ligne 5</div>
	<div class="row-meteo">Ligne 6</div>
</div>