<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8"/>
		<link rel="stylesheet" type="text/css" href="/static/display.css">
		<title>ReflectOS Display</title>
	</head>
	<body>
		<div id="display">
			<div id="app-grid">
				<div class="row row-widgets">
					<div class="cel">

					</div><div class="cel">
						
					</div><div class="cel width-4">
						
					</div><div class="cel">
						
					</div><div class="cel">
						
					</div>
				</div>
				<div class="row row-apps">
					<div class="cel">

					</div><div class="cel">

					</div>
				</div>
			</div>
		</div>
		<!-- Script Zone -->
		<script src="/socket.io/socket.io.js"></script>
		<script>
			var socket = new io();
		</script>
	</body>
</html>