<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8"/>
		<link rel="stylesheet" type="text/css" href="/static/display.css">
		<title>ReflectOS Display</title>
	</head>
	<body>
		<div id="display">
			<div id="app-grid">
				<div class="row row-widgets">
					<div class="cel width-2 wid-hello-world">

					</div><div class="cel">
						
					</div><div class="cel wid-quote">
						
					</div><div class="cel">
						
					</div><div class="cel width-3 wid-news">
						
					</div>
				</div>
				<div class="row row-apps">
					<div class="cel">

					</div><div class="cel">

					</div>
				</div>
			</div>
		</div>
		<!-- Script Zone -->
		<script src="/socket.io/socket.io.js"></script>
		<script type="text/javascript" src="/static/jquery-2.1.3.min.js"></script>
		<script type="text/javascript" src="/static/rejexFilter.js"></script>
		<script>
			var socket = new io();
			var widgets = [];

			$(".cel:regex(class,wid\-(.*))").each(function(index) {
				var widgetId = $(this).attr("class").replace(/.*wid\-(.*)/i,"$1");
				socket.emit("getWidget",widgetId);
			});


		</script>
	</body>
</html>