<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8"/>
		<link rel="stylesheet" type="text/css" href="/static/display.css">
		<title>ReflectOS Display</title>
	</head>
	<body>
		<div id="display">
		</div>
		<!-- Script Zone -->
		<script src="/socket.io/socket.io.js"></script>
		<script>
			var socket = new io();
		</script>
	</body>
</html>