.wid-meteo .meteo-row
{
	width: 100%;
	font-size: 15px;
}

.wid-meteo .meteo-icon
{
	text-align: center;
	width: 15%;
	display:inline-block;
	font-size: 35px;
}

.wid-meteo .meteo-info
{
	width: 85%;
	display:inline-block;
}

.wid-meteo .meteo-row .meteo-field
{
	width: 50%;
	display:inline-block;
}

.wid-meteo .meteo-row.reduce .meteo-field
{
	width: 25%;
	display:inline-block;
}

.wid-meteo .meteo-row.reduce .meteo-icon
{
	font-size: 20px;
	display:inline-block;
}

.wid-meteo .meteo-row.last
{
	margin-bottom: 20px;
}

.wid-meteo .meteo-row .meteo-field i
{
	font-size: 20px;
	display: inline-block;
	margin-right: 5px;
	position: relative;
	bottom: -2px;
}

.wid-meteo .meteo-dayBanner
{
	text-align: center;
	font-size: 20px;
	width: 50%;
	margin-left: auto;
	margin-right: auto;
}